body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.arrow{
  width: 28px;
}

#arrowWrapper{
  margin: auto;
  width: 95%;
  z-index: 99;
  position: relative;
  top: 234px;
  display: flex;
  justify-content: space-between;
}

.carouselButton{
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  border-color: white;
}

#fillCarouselButton{
  background-color: white;
}

#carouselImageWrapper{
  width: 100%;
  height: 500px;
}

#buttonContainer{
  z-index: 9;
  position: relative;
  bottom: 100px;
  left: 50%;
  margin-left: -100px;
  width: 200px;
  display: flex;
  justify-content: space-evenly;
}

#carouselImage {
  object-fit: cover;
  width: 100%;
  height: 500px;
  transition: opacity 1s ease-in;
}

#signupForm{
  max-width: 600px;
  padding-top: 20px;
  margin: auto;
}

#signupFormTitle{
  text-align: center;
  font-weight: bold;
  font-size: 35px;
}

#loginForm{
  max-width: 600px;
  padding-top: 20px;
  margin: auto;
}

#appointmentHomeContainer{
  max-width: 600px;
  padding-top: 30vh;
  margin: auto;
}

#continueButtonWrapper{
  width: 100%;
}

#continueButton{
  z-index: 99;
  position: fixed;
  left: 50%;
  margin-left: -100px;
  bottom: 50px;
}

#apptModal{
  z-index: 100;
  position: fixed;
  top: 0;
  background-color: green;
}

.appointmentHomeButton{
  padding-top: 20px;
}
