body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.button{
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  border-color: green;
}

#buttonContainer{
  display: flex;
}

#carouselImage {
  width: 500px;
  height: 400px;
}
