body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.arrowTest {
  width: 100px;
  height: 100px;
  background-color: red;
}

#carouselImage {
  width: 500px;
  height: 400px;
}
